.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    zoom: 78%;
}
._container {
    max-width: 1199px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
.header__container {
    display: flex;
    min-height: 115px;
    padding: 25px 0 0 0;
    align-items: center;
    justify-content: space-between;
}
.logo {
}
.navigation {
    padding: 0 10px;
}
.navigation a {
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu__item:not(:last-child) {
    padding: 0 80px 0 0;
}
.menu__link {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.phone {

}
.phone__container {
    border: 1px solid #FFFEFE;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    height: 73px;
}
.pnone__number {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}
/*=================================MAIN=================================*/
.main {
    display: flex;
    flex-direction: column;
}

/*-----------------------WELCOME-----------------------*/
.main__welcome {
    background: #000;
}
.welcome {
}
.welcome__container {
    padding: 0 0 188px 0;
}
.welcome__content {
    padding: 220px 0 0 0;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.welcome__text-block {
    position: relative;
    z-index: 49;
}
.welcome__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    color: #FFFFFF;
}
.welcome__sub-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 395px;
    margin: 28px 0 0 0;
}
.welcome__languages {
    width: 514px;
    margin: 70px 0 0 0;
    /* filter: drop-shadow(0px 2px 15px #986125); */
}
.languages {
}
.language-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.languages__spanish {
    border: 1px solid #422711;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
}
.languages__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 25px 0 25px 60px;
}
.languages__triangle {
    background: url(img/welcome/triangle-white.png) 0 0 no-repeat;
    width: 30px;
    height: 30px;
    padding-right: 60px;
}
.languages__english {
    border: 1px solid #422711;
}
.languages__italian {
    border: 1px solid #422711;
    border-top: none;
    border-radius: 0 0 15px 15px;
}
.welcome__image {
    position: absolute;
    top: 0;
    right: -160px;
    z-index: 48;
}
.welcome__image_round {
    position: absolute;
    z-index: 49;
    top: 270px;
    left: 180px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid #986125;
    box-shadow: 0px 2px 100px rgba(247, 230, 188, 0.3);
}
.welcome__lang-switch {
    align-self: center;
    position: relative;
    z-index: 49;
}
.lang-switch__list {
}
.lang-switch__item {
}
.lang-switch__link {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
}
.welcome__button {
    margin: 83px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.welcome__button-welcome {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 100px rgba(247, 230, 188, 0.3);
    border: 1px solid #f06c00;
    border-radius: 45px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    height: 70px;
    width: 324px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green {
    filter: drop-shadow(0px 2px 15px #389825);
    transition: .5s ease;
}
.red {
    filter: drop-shadow(0px 2px 15px #982525);
    transition: .5s ease;
}
.orange {
    filter: drop-shadow(0px 2px 15px #986125);
    transition: .5s ease;
}

/*-----------------------SERVICES-----------------------*/
.main__services {
}
.services {
    margin: -114px 0 113px 0;
    position: relative;
}
.services__container {    
}
.services__items {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    height: 100%;
}
.services__item {
    background: #fff;
    margin: 0 15px;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    /* text-align: center; */
    /* width: 369px; */
    flex: 0 1 33.333%;
}
.services__item_body {
    padding: 59px 25px 41px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.services__item_body > *:not(:last-child) {
    padding-bottom: 30px;
}
.services__item_body img {
    width: 240px;
    height: 210px;
}
.services__item_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;
    text-shadow: 0px 10px 16px rgba(0, 0, 0, 0.25);
    width: 330px;
}
.services__item_image {
}
.services__item_button {
}
.services__button-item {
    width: 188px;
    height: 42px;
    background: linear-gradient(272.63deg, #FDBC11 0.22%, #FCB817 60.92%, #F6A732 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
}

/*-----------------------HOW WE DO-----------------------*/

.main__howwedo {
}
.howwedo {
}
.howwedo__container {
}
._container {
}
.howwedo__title {

}
h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.05em;
}
.howwedo__border {
    width: 100%;
    height: 195px;
    border: 1px solid #D98428;
    border-radius: 90px;
    margin: 130px 0 86px 0;
}
.howwedo__items {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: -75px -15px 0 -15px;
    position: relative;
}
.howwedo__item {
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.howwedo__item_img {
    margin: 0 0 34px 0;
}
.howwedo__item_text {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
}

/*-----------------------SUBMIT-----------------------*/
.main__submit {
}
.submit {
    background: linear-gradient(92.69deg, rgba(246, 167, 50, 0.95) 0%, rgba(253, 188, 17, 0.95) 100%);
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.25);
    padding: 0 0 73px 0;
}
.submit__container {
}
.submit__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.03em;
    margin: 81px 0 0 0;
    text-align: center;
}
.submit__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin: 14px 0 0 0;
    text-align: center;
}
.submit__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 42px 0 0 0;
}
.submit__form :nth-child(1) {
    margin: 0 22px 0 0;
}
.submit__form :nth-child(2) {
    margin: 0 33px 0 0;
}
.submit__input {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 0 35px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.35);
    border-radius: 45px;
    height: 55px;
}
.submit__button {
    background: linear-gradient(92.66deg, #FC0C0C 0%, #EF0000 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.35);
    border-radius: 45px;
    height: 55px;
    width: 255px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/*-----------------------ADVANTAGES-----------------------*/
.main__advantages {
}
.advantages {
    padding: 102px 0 73px 0;
}
.advantages__container {
}
.advantages__title {
}
.advantages__items {
    display: flex;
    margin: 123px -16px 0 -16px;
}
.advantages__item {
    background: linear-gradient(132.62deg, rgba(253, 188, 17, 0) 0%, rgba(253, 215, 17, 0.2) 100%);
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.25);
    flex: 0 1 25%;
    margin: 0 16px;
    padding: 0 0 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 270px;
}
.advantages__image {
    width: 150px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    margin: -75px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advantages__item_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin: 35px 0 0 0;
    padding: 0 8px;
}
.advantages__item_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 19px 0 0 0;
    padding: 0 8px;
}
.item-quality {
    background: rgba(253, 188, 17, 0.65);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item-price {
    background: rgba(254, 205, 140, 0.65);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item-experience {
    background: rgba(194, 93, 38, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item-punctuality {
    background: rgba(134, 101, 162, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*-----------------------CONTACTS-----------------------*/
.main__contacts {
}
.contacts {
}
.contacts__container {
    display: flex;
    justify-content: space-between;
    padding: 55px 0 138px 0;
}
.contacts__content {
    flex: 0 1 36%;
    margin: 0 45px 0 0;
}
.contacts__title {
}
.contacts__list {
    margin: 118px 0 0 0;
}
.contacts__item {
    display: flex;
    align-items: center;
}
.contacts__item:not(:first-child) {
    margin: 20px 0 0 0;
}
.contacts__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 0 0 0 10px;
}
.contacts__social {
    margin: 37px 0 0 74px;
}
.social {
}
.social-item:not(:last-child) {
    margin: 0 16px 0 0;
}
.contacts__map {
    flex: 0 1 auto;
    margin: 71px 0 0 0;
}

.footer {
}